.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: rgb(39, 39, 39);
}

.name {
    font-size: 18px;
    font-weight: bold;
    margin-top:10px
}

.nav {
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 20px;
    text-align: center;
    padding-inline-start:0;
}

.nav_item {
    width:150px;
}

.nav_link {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav_link:hover {
    color: rgba(126, 126, 126);
}

.mini {
    font-size: 14px;
    font-weight: normal;
}

.gradient {
    height: 150px;
    width: 100%;
    background: linear-gradient(to bottom, rgb(39, 39, 39), black);
}

.hamburger {
    display: none;
}

.hamburger.open {
    color: rgba(126, 126, 126);
}

.nav_container {
    transform: translateY(0);
    flex-direction: row;
    justify-content: center;
}

.nav_container.show {
    transform: translateY(-140px);
}

@media (max-width: 640px) {
    .hamburger {
        display: block;
        background: none;
        border: none;
        font-size: 30px;
        color: white;
        cursor: pointer;
        margin-top: 10px;
    }

    .nav_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        transition: transform 0.3s ease;
        transform: translateY(-430px);
    }

    .icon{
            display:flex;
            align-items: center;
            gap:10px;
        }

    .logo{
        width:50px;
        height:auto;
    }

    .name{
        font-size:16px;
    }

    .nav{
        display:block;
        background-color:rgba(0, 0, 0, 0.9);
        border-radius:15px;
        padding:10px;
        margin-bottom:-300px;
    }

    .nav_item{
        padding:20px 0 20px 0;
        border-top:1px solid gray;
    }

    .header_container{
        width:70%;
        display:flex;
        justify-content:space-between;
    }
}
