.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.s_title{
    margin-top:200px;
    margin-bottom:100px;
    text-align:center;
}

.s_title_h1{
    font-size:50px;
    font-family: Georgia, serif;
}

.s_title_h2{
    font-size:20px;
    font-family: Georgia, serif;
}

.chat {
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: "Roboto", sans-serif;
}

.balloon_left {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin: 30px auto 0 15px;
    padding: 12px 20px;
    max-width: 100%;
    font-size: 32px;
    background: #707070;
    box-sizing: border-box;
    border-radius: 30px;
}

.balloon_left:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -17px;
    margin-top: -10px;
    border: 7px solid transparent;
    border-right: 12px solid #707070;
    z-index: 2;
}

.balloon_left:after {
    content: "";
    position: absolute;
    top: 50%;
    left: -30px;
    margin-top: -14px;
    border: 10px solid transparent;
    z-index: 1;
}

.balloon_right {
    position: relative;
    display: inline-block;
    width: fit-content;
    margin: 30px 15px 0 auto;
    padding: 12px 20px;
    max-width: 100%;
    color: black;
    font-size: 32px;
    background: #00ff00;
    border-radius:30px;
}

.balloon_right:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 97%;
    margin-top: -10px;
    border: 8px solid transparent;
    border-left: 15px solid #00ff00;
}

.shiga{
    margin-top:30px;
}