.container{
    width:1000px;
    margin:0 auto;
    background-color:rgb(32, 32, 32);
    border-radius:15px;
}

.button_container{
    display:flex;
    justify-content:space-between;
    text-align:right;
    margin:0 80px 50px 80px;
    padding-top:80px;
}

.button{
    padding:15px 20px;
    border-radius:10px;
    color:white;
    text-decoration: none;
    background-color:black;
    transition:box-shadow 0.3s;
}

.button:hover{
    box-shadow:0px 0px 5px rgba(255, 255, 255, 0.5);
}

.thumbnail{
    width:640px;
    height:360px;
    margin:0 auto;
    border-radius: 15px;
}

.detail{
    margin:50px 0 50px 80px;
}

.imagesTitle{
    margin-left:80px;
}

.imageContainer{
    margin-left:80px;
    display:grid;
    grid-template-columns:412px 412px;
    gap:16px;
}

.image{
    width:412px;
    height:auto;
    border-radius: 15px;
    border:1px solid rgb(64, 64, 64);
}

.file{
    margin-top: 30px;
    font-size:20px;
    font-weight:bold;
    text-align:center;
}

.filelink{
    color:white;
    transition: color 0.3s ease;
}

.filelink:hover{
    color: rgba(126, 126, 126);
}

.date{
    margin: 30px 80px 0 0;
    padding-bottom:80px;
    text-align: right;
}