.title{
    margin-top: -80px;
    margin-bottom:30px;
    text-align:center;
    font-size:35px;
    font-weight: bold;
}

.container {
    width:80%;
    margin:0 auto;
}

.item{
    list-style: none;
}

.list{
    background-color: rgb(32, 32, 32);
    padding: 30px;
    border-radius: 15px;
    margin-top:15px;
    display:flex;
    align-items: center;
    text-decoration: none;
    color:white;
    transition:padding 0.3s ease;
    transition: box-shadow 0.3s;
}

.list:hover {
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
}

.thumbnail{
    width:192px;
    height:108px;
    border-radius: 15px;
    transition:width 0.3s ease;
}

.name{
    font-size: 20px;
    font-weight: bold;
    margin-left:30px;
    transition:font-size 0.3s ease;
}

.date{
    margin-left:auto;
}

@media (max-width:1080px){
    .name{
        font-size:16px;
    }
}

@media (max-width:800px){
    .date{
        display:none;
    }
}

@media (max-width:640px){
    .list{
        padding:10px;
    }

    .thumbnail{
        width:100px;
        height:auto;
        border-radius:10px;
    }
}